#info{
    background-color: aqua;
    font-style: oblique;
    font-size: large;
}
#inscri{
    background-color: blueviolet;
    font-style: italic;
}
#pret{
    background-color: crimson;
    font-style: inherit;
}